@import "~bootstrap/scss/bootstrap.scss";

.row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-left: 20px;
   padding-right: 20px;
}

.container {
    display: flex;

}

.jumbotron {
    margin-left: 20px;
    margin-right: 20px;
}

#navbarNav {
    display: flex;
    align-items: flex-end;
}